@font-face{
	font-family: 'PtSerif';
	src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTF55F-webfont.woff') format('woff'),
		 url('../fonts/PTF55F-webfont.ttf')  format('truetype'),
		 url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
}

body {
	margin: 0;
	background-color: #252525;
	color: #f8f8f8;
	font-family: PtSerif;
	font-size: 16px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="text"] {
	font-family: PtSerif;
	font-size: 14px;
}

input[type="checkbox"] {
	height: 14px;
	width: 14px;
	margin: 3px;
	vertical-align: bottom;
}

select {
	height: 22px;
	padding: 1px;
	margin: 2px;
	border: none;
	outline: none;
	background-color: #252525;
	color: #f8f8f8;
	font-family: PtSerif;
	font-size: 14px;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #f8f8f8;
}

.select-arrow {
	margin-top: 2px;
	margin-left: -24px;
	vertical-align: top;
	pointer-events: none;
}

#Logbook {
	padding: 8px;
}

.log-header-list {
	list-style: none;
	padding: 0 0 4px 9px;
	margin: 0;
}

.log-header {
	display: inline-block;
	position: relative;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -4px;
	text-align: center;
	color: #252525;
	z-index: 1;
	cursor: pointer;
}

.log-header-large {
	width: 149px;
}

.log-header-small {
	width: 65px;
}

.log-header::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	border: 2px solid #ae81ff;
	border-right-width: 0;
	border-top-left-radius: 8px;
	-webkit-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	transform: skewX(-20deg);
	background-color: #f8f8f8;
	z-index: -1;
}

.log-header::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	border: 2px solid #ae81ff;
	border-left-width: 0;
	border-top-right-radius: 8px;
	-webkit-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	transform: skewX(20deg);
	background-color: #f8f8f8;
	z-index: -1;
}

.log-header-icon-settings {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/settings_b.png');
}

.log-header-icon-resize {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/resize_b.png');
}

.log-header-selected {
	color: #f8f8f8;
	z-index: 2;
}

.log-header-selected::before,
.log-header-selected::after {
	background-color: #252525;
	border-bottom-color: #252525;
}

.log-header-selected .log-header-icon-settings {
	background-image: url('../img/settings_w.png');
}

.log-body {
	display: none;
}

.boss-entry {
	position: relative;
	max-width: 517px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #f8f8f8;
}

.boss-entry > div {
	display: inline-block;
	margin-right: 5px;
}

.boss-entry-diff {
	width: 8px;
	height: 32px;
	vertical-align: middle;
}

.boss-entry-diff-1 {
	background-color: #ddc900;
}

.boss-entry-diff-2 {
	background-color: #dd5b00;
}

.boss-entry-diff-3 {
	background-color: #dd0013;
}

.boss-entry-check {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	background-image: url('../img/heart_empty.png');
	cursor: pointer;
}

.boss-entry-check-checked {
	background-image: url('../img/heart_full.png');
}

.boss-entry-icon {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.boss-entry-icon-1 {
	background-image: url('../img/boss_icon_1.png');
}

.boss-entry-icon-2 {
	background-image: url('../img/boss_icon_2.png');
}

.boss-entry-icon-3 {
	background-image: url('../img/boss_icon_3.png');
}

.boss-entry-icon-4 {
	background-image: url('../img/boss_icon_4.png');
}

.boss-entry-icon-5 {
	background-image: url('../img/boss_icon_5.png');
}

.boss-entry-icon-6 {
	background-image: url('../img/boss_icon_6.png');
}

.boss-entry-icon-7 {
	background-image: url('../img/boss_icon_7.png');
}

.boss-entry-icon-8 {
	background-image: url('../img/boss_icon_8.png');
}

.boss-entry-icon-9 {
	background-image: url('../img/boss_icon_9.png');
}

.boss-entry-icon-10 {
	background-image: url('../img/boss_icon_10.png');
}

.boss-entry-icon-11 {
	background-image: url('../img/boss_icon_11.png');
}

.boss-entry-icon-12 {
	background-image: url('../img/boss_icon_12.png');
}

.boss-entry-icon-13 {
	background-image: url('../img/boss_icon_13.png');
}

.boss-entry-name {
	min-width: 150px;
}

.boss-entry-until {
	min-width: 80px;
	text-align: center;
}

.boss-entry-time {
	min-width: 80px;
	text-align: center;
}

.boss-entry-code {
	min-width: 100px;
}

.boss-entry-code-input {
	width: 100px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: #f8f8f8;
	cursor: pointer;
}

.reset-entry {
	position: relative;
	max-width: 517px;
	min-height: 22px;
	padding-top: 7px;
	padding-bottom: 8px;
}

.reset-entry > div {
	display: inline-block;
	margin-right: 5px;
}

.reset-entry-name {
	min-width: 165px;
}

.reset-entry-until {
	min-width: 80px;
	text-align: center;
}

.reset-entry-time {
	min-width: 80px;
	text-align: center;
}

.settings-entry {
	position: relative;
	max-width: 517px;
	padding-top: 5px;
	padding-bottom: 6px;
}

.settings-entry > div {
	display: inline-block;
	margin-right: 5px;
}

.settings-entry-name {
	min-width: 165px;
	margin-top: 2px;
	vertical-align: top;
}

.settings-entry-options {
	min-width: 165px;
}

.settings-entry-option {
	margin-top: 3px;
}

.settings-entry-options input[type="checkbox"] {
	margin-right: 5px;
}

.settings-entry-options select {
	width: 161px;
}
