@font-face{
	font-family: 'PtSerif';
	src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTF55F-webfont.woff') format('woff'),
		 url('../fonts/PTF55F-webfont.ttf')  format('truetype'),
		 url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
}

body {
	margin: 0;
	background-color: rgba(37, 37, 37, 0.1);
	color: #f8f8f8;
	font-family: PtSerif;
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.resize-grip {
	position: absolute;
}

#resizeGripTopLeft {
	width: 8px;
	height: 8px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripTop {
	height: 8px;
	top: 0;
	left: 8px;
	right: 8px;
	cursor: ns-resize;
}

#resizeGripTopRight {
	width: 8px;
	height: 8px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripRight {
	width: 8px;
	top: 8px;
	right: 0;
	bottom: 8px;
	cursor: ew-resize;
}

#resizeGripBottom {
	height: 8px;
	right: 8px;
	bottom: 0;
	left: 8px;
	cursor: ns-resize;
}

#resizeGripBottomRight {
	width: 8px;
	height: 8px;
	right: 0;
	bottom: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 8px;
	height: 8px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripLeft {
	width: 8px;
	top: 8px;
	bottom: 8px;
	left: 0;
	cursor: ew-resize;
}

#Logbook {
	padding: 8px;
}

.log-header-list {
	list-style: none;
	padding: 0 0 4px 9px;
	margin: 0;
}

.log-header {
	text-align: center;
}

.log-header-large {
	float: left;
	width: 80%;
}

.log-header-small {
	float: right;
	width: 10%;
	cursor: pointer;
}

.log-header-icon-resize {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/resize_w.png');
}

.log-header-icon-close {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../img/close.png');
}

.log-body {
	display: none;
}

.boss-entry {
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
}

.boss-entry > div {
	display: inline-block;
	margin-right: 5px;
}

.boss-entry-check {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	background-image: url('../img/heart_empty.png');
	cursor: pointer;
}

.boss-entry-check-checked {
	background-image: url('../img/heart_full.png');
}

.boss-entry-name {
	min-width: 150px;
}

.boss-entry-until {
	min-width: 80px;
	text-align: center;
}
